
/* 
    Created on : Jul 20, 2014, 6:10:13 PM
    Author     : Chathura Widanage
*/

#map-container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

#map{
    height: 100%;
    z-index: 1;
}

#controls{
    position: absolute;
    padding: 20px;
    width: 600px;
    z-index: 99;
}

#keyword-txt{
    width: 540px;
    float: left;
}

#text-dragger{
    background-image: url(../images/search.png);

}

#controlers-dragger{
    background-image: url(../images/filter.png);
}

#filter-by-controlers{
    top:100px;
}

#filter-by-controlers select{
    margin: 15px;
}

.filter-controls form{
    width: 540px;
}




.filter-controls{
    padding: 15px;
    background: white;
    height: auto;
    //overflow: auto;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 1px 1px gray;
    left: -570px;
    position: fixed;
    width: 540px;
}

#filter-by-controlers{    
    border-bottom-right-radius: 5px;
}

.dragger{
    position: absolute;
    width: 50px;
    height: 68px;
    right: -50px;
    top: 0px;

    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;

    background-color: white;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 1px 1px gray;
    
}


#data-outs{
    position: fixed;
    left: 60px;
    background-color: white;
    max-width: 600px;
    min-width: 100px;
    top:20px;

    margin: auto;
    //height: 100%;
    //max-height: calc(100% - 50px);
    min-height: 200px;

    z-index: 99;

    border-radius: 5px;
    box-shadow: 1px 1px gray;

    top: -120%;
    padding: 10px;

    background-position: center;
    background-repeat: no-repeat;

   

}

#data-out-close{
    position: absolute;
    right: 5px;
    top:5px;
    background-image: url(../images/close.jpg);
    background-size: contain;
    width: 15px;
    height: 15px;
}

#map-zoom-out{
    background-image: url(../images/resize.png);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    box-shadow: 1px 1px gray;
    position: fixed;
    right: 20px;
    top:150px;
}

.data-list{
    list-style: none;
    padding: 0;
}

.data-table{
    border: none;
}
#comp-social{
    width: 100%;
    height: 30px;
}

#comp-social li{
    float: left;
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    background-position: center;    
    background-color: rgba(0,0,0,0.3);
    padding: 12px;
    margin: 3px;
    border-radius: 50px;
    cursor: pointer;
}

#comp-fb{
    background-image: url(../images/social/facebook.png);
}
#comp-gp{
    background-image: url(../images/social/googleplus.png);
}
#comp-li{
    background-image: url(../images/social/linkedin.png);
}
#comp-yt{
    background-image: url(../images/social/youtube.png);
}

.about-company{
    width: 500px;
    height: 500px;
    background-color:#C0C1C3 ;
    //margin: 50px 0px 0px 50px;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: 0px 0px 2px #000000;
    -webkit-box-shadow: 0px 0px 2px #000000;
    box-shadow: 0px 0px 2px #000000;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

}

.about-company-text {
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}

.company-logo-align{
    padding: 5px 5px 0px 0px;
}

.company-title{
    vertical-align:text-bottom;
    text-align: center;

}
